<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.ytvwld.andbacktothe"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9"
        android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.CONFIRM_FULL_BACKUP" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="NullTransportService"
                 android:permission="android.permission.CONFIRM_FULL_BACKUP"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.backup.TRANSPORT_HOST" />
            </intent-filter>
        </service>
    </application>
</manifest>
